@model Bd_web.Models.Сosts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Сosts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_C)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_C)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopeType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Money_C)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Money_C)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
